.location_find {
  margin: 0;
  padding: 40px 6%;
}

.location__heading {
  margin: 0;
  padding: 0;
  font-size: 21px;
  line-height: 26px;
}

.location__text {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
}

.location__link {
  margin: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}

.location__map {
  border: none;
}

@media (min-width: 768px) {
  .location__find {
    padding: 50px 12%;
  }

  .location__heading {
    margin-bottom: 35px;
    font-size: 30px;
  }
}
