.social-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social-list__item {
  margin-right: 6px;
  margin-bottom: 6px;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  color: #000000;
  background-color: #81b3d2;
  text-decoration: none;
}

@media (min-width: 768px) {
  .social-list {
    width: 33%;
  }
}
