.feedback {
  outline: 1px solid darkorange;
}

.feedback__heading {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
}

.feedback__text {
  margin: 0;
  padding-top: 30px;
  padding-right: 18px;
  padding-left: 18px;
  padding-bottom: 18px;
  font-size: 14px;
  line-height: 24px;
}
