.main-navigation {
  padding: 0;
  margin: 0;
  background-color: #81b3d2;
  font-size: 18px;
  font-weight: bold;
  line-height: 40px;
  outline: 1px solid spin(#81b3d2, 180);
}

.main-navigation__list {
  list-style: none;
  width: 320px;
  padding: 0;
  margin: 0;
  position: relative;
}

.main-navigation__item {
  display: flex;
  justify-content: center;
}

.main-navigation__link {
  color: #ffffff;
  text-decoration: none;
}

.main-navigation__button_hide-menu {
  position: absolute;
  left: 287px;
  top: 10px;
  width: 22.2px;
  height: 22.2px;
}
